*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    background-color: rgb(24, 139, 101);
}
#container{
    width: 1200px;
    margin: auto;
    background-color: rgb(250, 250, 242);
}

h1{
    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(22, 100, 168);
}
header{
    padding: 5px;
}

section{
    display: flex;
    margin-top: 10px;
}

ul li a:link{
    text-decoration: overline;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li a:hover{
    background-color: rgb(19, 179, 179);
    color: aliceblue;
    transition: 0.4s;
    border-radius: 8px;
}

nav{
    padding: 40px;
    margin: 10px;
    
}
nav ul{
    list-style: none;
    
}

ul li{
    margin-top: 20px;
    
}


article{
    background-color: rgb(231, 238, 236);
    margin: 10px;
    padding: 20px;
    
}
footer{
    background-color: rgb(106, 106, 248);
    padding: 15px;
    text-align: center;
}

a:link{
    text-decoration: none;
    color: rgb(252, 246, 239);
}

footer a{
    color: aliceblue;
}

ul li a{
    color: rgb(6, 135, 248);
}

